#backspace {
    background-color: brown;
    grid-area: 1 / 4 / 2 / 6;
}

#backspace i {
    font-size: 48px;
}

#backspace:hover {
    background-color: rgb(231, 63, 63);
    color: white;
}

#equals {
    grid-area: 4 / 5 / 6 / 6;
    background-color: green;
}

#equals:hover {
    background-color: rgb(17, 163, 17);
    color: white;
}

#design {
    grid-area: 1 / 2/ 2 / 4;
    visibility: hidden;
}